.navbar {
  font-weight: 100px;
}
.navbar a {
  color: white;
}

.nav-item {
  font-size: 1rem;
}
.nav-link:hover {
  border-bottom: 1px solid #10b2b8;
}
.searchbar.btn {
  color: #10b2b8;
}
.navbar-brand img {
  position: relative;
  margin: 2px 8px 2px 0px;
}
#menus {
  margin: 0px 150px 2px 0px;
}
.fas {
  margin: 15px 10px 2px 0px;
  color: white;
}
